body {
    margin: 0;
}

div#container {
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: stretch;
}

div.image {
    border-radius: 40px;
    margin: 20px;
    overflow: hidden;
    text-align: center;
    width: 50vh;
}

img {
    height: 100vh;
}

img:hover {
    cursor:pointer;
}

div.open {
    width: 300vh;
}